/***** styles généraux des pages *****/
:root{
	--rouge: #e2062e;
	--bleu: #005ca9;
	--bleu2: #00385f;
	--bleu3: #008ccf;
	--lightblue: #e9f6fe;
}
body *{	
	box-sizing: border-box;
}
body{
	margin: 0px;
	font-family: Verdana, Geneva, sans-serif;
}
@font-face {
    font-family: 'Avenir-Roman';
    src:    url('fonts/Avenir-Roman.eot?#iefix') format('embedded-opentype'),  
            url('fonts/Avenir-Roman.woff') format('woff'),
            url('fonts/Avenir-Roman.ttf')  format('truetype'),
            url('fonts/Avenir-Roman.svg#Avenir-Roman') format('svg');
}
@font-face {
    font-family: 'Avenir-Black';
    src:    url('fonts/Avenir-Black.eot?#iefix') format('embedded-opentype'),  
            url('fonts/Avenir-Black.woff') format('woff'),
            url('fonts/Avenir-Black.ttf')  format('truetype'),
            url('fonts/Avenir-Black.svg#Avenir-Black') format('svg');
}
@font-face {
    font-family: 'AvenirNext-Bold';
    src:    url('fonts/AvenirNext-Bold.eot?#iefix') format('embedded-opentype'),  
            url('fonts/AvenirNext-Bold.woff') format('woff'),
            url('fonts/AvenirNext-Bold.ttf')  format('truetype'),
            url('fonts/AvenirNext-Bold.svg#AvenirNext-Bold') format('svg');         
}
@font-face {
    font-family: 'Avenir-Light';
    src:    url('fonts/Avenir-Light.eot?#iefix') format('embedded-opentype'),  
            url('fonts/Avenir-Light.woff') format('woff'),
            url('fonts/Avenir-Light.ttf')  format('truetype'),
            url('fonts/Avenir-Light.svg#Avenir-Light') format('svg');         
}
@font-face {
    font-family: 'Avenir-Medium';
    src:    url('fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'),  
            url('fonts/Avenir-Medium.woff') format('woff'),
            url('fonts/Avenir-Medium.ttf')  format('truetype'),
            url('fonts/Avenir-Medium.svg#Avenir-Medium') format('svg');         
}
/***** fin styles généraux des pages *****/

/***** mise en forme du header *****/
header>div{
	grid-template-columns: 100%;
	justify-items: center;
}
header h1{
	font-family: "Avenir-Roman";
	font-size: 1.1rem;
	color: var(--rouge);
}
header>div figure{
	grid-template-columns: 60px 1fr;
	justify-self: center;	
	align-items: center;
}
header>div figcaption{
	padding-left: 15px;
}
header>div figure a{
	font-family: "Avenir-Roman";
	font-size: 0.8rem;
	color: var(--bleu);
	text-decoration: none;
}
/***** fin mise en forme du header *****/

/***** mise en forme du main *****/
#edito{
	position: relative;
	background-color: var(--bleu2);
}
	/***** section édito *****/
	#edito h2{
		font-family: "Avenir-Black";
		letter-spacing: 0.5rem;
		font-size: 1.5rem;		
		margin: 0px 50px;	
		color: white;
		margin-bottom: 20px; 
	}
	#edito h2::before, #edito h2::after{
		content: ""	;
		display: inline-block;
		width: 30px;
		height: 5px;
		background-color: var(--rouge);
		margin-bottom: 5px;
	}
	#edito h2::before{
		margin-right: 20px;
	}
	#edito h2::after{
		margin-left: 20px;
	}
	.text-edito{
		margin: 0px 20px;
		color: white;	
		max-width: 40rem;
		padding-right: 5px;
		height: 400px;
		overflow: auto;
		font-size: 1rem;			
		scrollbar-color: var(--bleu) #ffffffd9;
		scrollbar-width: thin;
	}
	.lead-p{
		font-family: "AvenirNext-Bold";
	}
	.text-edito p:nth-child(n+2){
		font-family: "Avenir-Light";	
	}
	#edito>p{
		position: absolute;
		line-height: 1.1rem;
		color: white;
	}
	#edito>p .mngr-name{
		font-family: "Avenir-Black";
		font-size: 0.9rem;
	}
	#edito>p .mngr-role{
		font-family: "Avenir-Medium";
		font-size: 0.8rem;
	}	
	#edito>p:nth-child(3)::after{
		content: ""	;
		display: block;
		width: 30px;
		height: 3px;
		background-color: var(--bleu);
		transform: rotate(-45deg);
		margin-top: 15px; 
	}
	#edito>p:nth-child(4)::before{
		content: ""	;
		display: block;
		width: 30px;
		height: 3px;
		background-color: var(--rouge);
		transform: rotate(-45deg);
		margin-bottom: 15px; 
	}
	#edito>p:nth-child(4){
		top: 150px;
		right: 220px;
	}
	.text-edito::-webkit-scrollbar {
	  width: 4px; /* width of the entire scrollbar */
	}
	.text-edito::-webkit-scrollbar-track {
	  background: #ffffffd9; /* color of the tracking area */
	}
	.text-edito::-webkit-scrollbar-thumb {
	  background-color: var(--bleu); /* color of the scroll thumb */	  
	}
	.text-edito::-webkit-scrollbar-thumb:hover {
	  background-color: var(--bleu3); /* color of the scroll thumb */
	}
	/***** fin section édito *****/
	/***** section chiffres *****/
	#chiffres>div{
		grid-template-columns: 100%;
	}
	#chiffres figure{
		margin: 16px 0px;
		text-align: center;
	}
	#chiffres figure:nth-child(n+2){
		margin-top: 35px;
	}
	#chiffres figcaption p:nth-child(1){
		font-family: "Avenir-Black";
		font-size: 1.5rem;
		color: var(--rouge);
		margin-top: 5px;
		margin-bottom: 0;
	}
	#chiffres figcaption p:nth-child(1) span{		
		font-size: 1rem;
	}
	#chiffres figcaption p:nth-child(2){
		text-transform: uppercase;
		font-family: "Avenir-Medium";
		font-size: 0.9rem;
		margin: 0;
	}
	#chiffres button{
		grid-template-columns: 20% 1fr;
		color: white;
		width: 240px;
		font-family: "Avenir-Medium";
		background-color: var(--rouge);
		border-style: none;
		padding: 8px;
		cursor: pointer;
	}
	#chiffres button>div:nth-child(1){
		justify-self: center;
	}
	#chiffres button>div:nth-child(2){
		text-align: left;
	}
	#chiffres button div>span{
		font-family: "Avenir-Black";
	}
	/***** fin section chiffres *****/
	/***** section chapitres *****/	
	#chapitres section:nth-child(n+2){
		margin-top: 50px;
	}
	#chapitres section>div:nth-child(1){
		background-color: #e9f6fe8a;;
		padding-left: 30px;
		padding-bottom: 20px
	}
	#chapitres .chap-num{
		font-family: "Avenir-Light";
		font-size: 3rem;
		margin: 0 0;
		width: min-content;
	}
	#chapitres .chap-num::after{
		content: ""	;
		display: block;
		width: 50px;
		height: 4px;
		background-color: var(--rouge);
		margin: auto;
		margin-top: -10px; 
	}
	#chapitres .chap-title{
		text-transform: uppercase;
		font-family: "Avenir-Medium";
		font-size: 1.5rem;
		line-height: 1.5rem;
		margin-left: 30px;
	}
	#chapitres .chap-title span{
		text-transform: lowercase;
		font-family: "Avenir-Black";
		font-size: 3rem;
	}
	#chapitres .chap-text{
		font-family: "Avenir-Medium";
		font-size: 1rem;
		padding-right: 10px;
	}
	#chapitres .learn-more{
		text-transform: uppercase;
		text-decoration: none;
		font-family: "Avenir-Medium";
		font-size: 0.8rem;
	}
	#chapitres .learn-more img{
		vertical-align: bottom;
	}
	#chapitres section>div:nth-child(2) img{
		width: 100%;
	}
	#chapitres .chap-blocs{		
		grid-template-columns: 33% 1fr 33%;
	}
	#chapitres .chap-blocs>div{
		padding-left: 20px;
		cursor: pointer;
	}
	#chapitres .chap-blocs .chap-num{
		font-size: 2rem;
	}
	#chapitres .chap-blocs .chap-num::after{
		width: 35px;
	}
	#chapitres .chap-blocs .chap-title{
		font-size: 1rem;
		line-height: 1rem;
	}
	#chapitres .chap-blocs .chap-title span{
		font-size: 1.8rem;
	}
	/***** fin section chapitres *****/
/***** fin mise en forme main *****/

/***** box model *****/
.container{
	width: 100%;
	margin: auto;
}
.pos-relative{
	position: relative;
}
.d-grid{
	display: grid;
}
.d-none{
	display: none;
}
.ml-auto{
	margin-left: auto;
}
.py-20{
	padding: 20px 0px;
}
/***** fin box model *****/

/***** styles de texte et boite *****/
.text-upper{
	text-transform: uppercase;
}
.text-center{
	text-align: center;
}
.text-white{
	color: white;
}
.text-blue{
	color: var(--bleu);
}
.text-blue2{
	color: var(--bleu2);
}
.text-blue3{
	color: var(--bleu3);
}
.bg-blue{
	background-color: var(--bleu);
}
.bg-blue2{
	background-color: var(--bleu2);
}
.bg-blue3{
	background-color: var(--bleu3);
}
/***** fin styles de texte et boite *****/

/***** media queries *****/
@media screen and (min-width: 557px){
	.container{
		max-width: 507px;
	}
}
@media screen and (min-width: 576px){
	.container{
		max-width: 540px;
	}	
}
@media screen and (min-width: 768px){
	.container{
		max-width: 720px;
	}
	header>div{
		grid-template-columns: 20% 1fr 20%;
		align-items: center;
		padding: 0px 40px;
	}
	header>div figure{
		justify-self: end;	
		align-items: center;
		margin: 16px 0px;
	}
	#edito{
		background: url(../img/edito/photo-edito-right-2.jpg) no-repeat;
		background-size: cover;
	}
	#edito h2{
		color: white;
	}
	.text-edito{
		margin-right: auto;
		margin-left: 20px;
		max-width: 21.5rem;
		padding-right: 6px;
		height: 350px;
		overflow: auto;
		font-size: 1rem;
		color: white;		
		scrollbar-color: var(--bleu) #ffffffd9;
		scrollbar-width: thin;
	}
	#edito .mngr-vie{
		display: block;
		top: 150px;
		right: 100px;
	}
	#chiffres>div{
		grid-template-columns: repeat(2, 50%);
	}
	#chapitres .chap-blocs{
		display: block;
		display: grid;
	}
	#chapitres section:nth-child(n+2){
		margin-top: 0;
	}	
	#chapitres section>div:nth-child(2){
		display: none;
	}	
	#chap1{
		background: url(../img/chapitres/photo-partie1.jpg) no-repeat;
		background-size: cover;
	}
	#chap2{
		background: url(../img/chapitres/photo-partie2.jpg) no-repeat;
		background-size: cover;
	}
	#chap3{
		background: url(../img/chapitres/photo-partie3.jpg) no-repeat;
		background-size: cover;
	}
}
@media screen and (min-width: 992px){
	.container{
		max-width: 960px;
	}
	#edito{
		background: url(../img/edito/photo-edito-left-2.jpg) no-repeat;
		background-size: cover;
	}	
	.text-edito{
		margin-left: auto;
		margin-right: 20px;
	}
	#edito .mngr-btp{
		display: block;
		top: 150px;
		left: 100px;
	}
	#edito .mngr-vie{
		display: none;
	}
	#chiffres>div{
		grid-template-columns: repeat(4, 25%);
	}
	#chapitres section{
		grid-template-columns: 50% 50%;		
	}
	#chapitres section>div:nth-child(1){
		background-color: var(--lightblue);
		padding-bottom: 0px;
	}
	#chapitres section>div:nth-child(2){
		display: block;
	}
	#chap1, #chap2, #chap3{
		background-image: none;
	}	
	#chapitres .chap-num{
		font-size: 2.8rem;
	}
	#chapitres .chap-title{
		font-size: 1.1rem;
	}
	#chapitres .chap-title span{
		font-size: 2rem;
	}
	#chapitres .chap-text{
		font-size: 0.9rem;
	}
	#chapitres .chap-blocs .chap-num{
		font-size: 2.5rem;
	}
	#chapitres .chap-blocs .chap-title span{
		font-size: 2rem;
	}	
}
@media screen and (min-width: 1200px){
	.container{
		max-width: 1140px;
	}
	#edito{
		background: url(../img/edito/photo-edito-1600.jpg) no-repeat;
		background-size: cover;
	}
	.text-edito{
		margin: auto;
	}
	#edito .mngr-vie{
		display: block;
	}
	#edito .mngr-btp{
		top: 100px;
		left: 260px;
	}
	#chapitres .chap-num{
		font-size: 3rem;
	}
	#chapitres .chap-title{
		font-size: 1.5rem;
	}
	#chapitres .chap-title span{
		font-size: 3rem;
	}
	#chapitres .chap-text{
		font-size: 1rem;
	}	
}
@media screen and (min-width: 1400px){
	.container{
		max-width: 1360px;
	}
	#edito>p:nth-child(3){
		top: 100px;
		left: 320px;
	}	
	#edito>p:nth-child(4){
		top: 150px;
		right: 290px;
	}
	.text-edito{
		max-width: 23.5rem;
		font-size: 1.1rem;
	}	
	#chapitres .chap-num{
		font-size: 4rem;
	}
	#chapitres .chap-title{
		font-size: 2rem;
	}
	#chapitres .chap-title span{
		font-size: 5rem;
	}
	#chapitres .chap-text{
		font-size: 1.1rem;
	}
	#chapitres .chap-blocs .chap-num{
		font-size: 3rem;
	}
	#chapitres .chap-blocs .chap-title{
		font-size: 1.2rem;
	}
	#chapitres .chap-blocs .chap-title span{
		font-size: 3rem;
	}
}
/***** fin media queries *****/

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}